<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>

    <h1>List of All The Blogs</h1>
    <form action="/blog/new" method="get">
        <button id="add-btn">Add New Blog</button>
    </form>
   <% for(let item of arr){  %> 
        <h2><%=item.id %></h2>
        <h2><%=item.author %></h2>
        <h2><%=item.comment %></h2>
        <a href="/blogs/<%=item.id %>">show</a>
        <a href="/blogs/<%=item.id %>/edit">edit</a>
        <a href="/blogs/<%=item.id %>/delete">delete</a>
        <form action="/blogs/<%= item.id %>?_method=Delete" method="POST">
            <button id="Delete">Delete</button>
        </form>
        <hr>
    <%} %>
    
</body>
</html>