<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Document</title>
</head>
<body>
    <h1> Displaying All the Blogs</h1>
    
    <form action="/blog/new" method="get">
        <button id="add-btn">Add New Blog</button>
    </form>
    
    <section>

    <% for(let i of comments){  %>
        <div id="main">
        <h1> Id is: <%= i.id %></h1>
        <h2>Name is:<%= i.username %></h2>
        <h4>Comment is: <%= i.comment%></h4>

        <div id="anchors">
        <a id="show" href="/blogs/<%= i.id %>">Show</a>
        <a id="edit" href="/blogs/<%= i.id %>/edit">Edit</a>
        <form action="/blogs/<%= i.id %>?_method=Delete" method="POST">
            <button id="Delete">Delete</button>
        </form>
        
        </div>

        </div>
    <% } %>

    </section>
    
</body>
</html>